# Gateway
HTTP_HOST=0.0.0.0
HTTP_PORT=8080

# User Service
USER_GRPC_HOST=localhost
USER_GRPC_PORT=50051

# Tweet Service
TWEET_GRPC_HOST=localhost
TWEET_GRPC_PORT=50052

# Media Service
MEDIA_GRPC_HOST=localhost
MEDIA_GRPC_PORT=50053

# Notification Service
NOTIFICATION_GRPC_HOST=localhost
NOTIFICATION_GRPC_PORT=50054