# Notification Service
NOTIFICATION_GRPC_HOST=localhost
NOTIFICATION_GRPC_PORT=50054

# Websocket 
HTTP_HOST=locahost
HTTP_PORT=8080

# Database 
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=pass
DB_NAME=minitwitter_notifications_db
